html {
    text-align: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(185, 185, 185)
}
span {
    background: white !important;
  }

body {
    text-align: center;
    font-family: 'Poppins', sans-serif
}

.s1 {
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    div {
        font-size: 4rem;
        color: white;
        font-style: bold;
    }
}
.s2 {
    background-image: url(../images/wallpaper2.jpg);
    background-size: cover;
    background-position: center;
    div {
        font-size: 4rem;
        color: white;
        font-style: bold;
    }
}
.s3 {
    background-image: url(../images/wallpaper3.jpg);
    background-size: cover;
    background-position: center;
    div {
        font-size: 4rem;
        color: white;
        font-style: bold;
    }
}
.s4 {
    background-image: url(../images/wallpaper4.jpg);
    background-size: cover;
    div {
        font-size: 4rem;
        color: white;
        font-style: bold;
    }
}

.s1a {
    background-image: url(../images/wallpaper2.jpg);
    background-size: cover;
    background-position: center;
    div {
        font-size: 4rem;
        color: white;
        font-style: bold;
    }
}

.s1p {
    background-image: url(../images/wallpaper2.jpg);
    background-size: cover;
    background-position: center;
    div {
        font-size: 4rem;
        color: white;
        font-style: bold;
    }
}

#unblocked {
    border-style: groove;
    border-radius: 25px;
    background: #624b68    ;
    padding: 10px;
    border-color: #84648b;
    width: 200px;
    height: 150px;
    margin: auto;
    font-size: 20px;
    display:inline-block;margin-right:10px;
}



.link:hover {
    cursor: pointer;
}

.grow { 
	transition: all .2s ease-in-out; 
}
	.grow:hover { 
    	transform: scale(2.1); 
    }
    .grow2 { 
        transition: all .2s ease-in-out; 
    }
        .grow2:hover { 
            transform: scale(1.1); 
        }
a {
    // position: relative;
    // display: inline-block;
//     overflow: hidden;
    background: linear-gradient(to right, rgb(185, 185, 185), rgb(185, 185, 185) 50%, white 50%);
   // background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
  }

  a.middle
{
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(3);
  }
  

p {
    font-size: 20px;
}

#smoothtext {
    border-style: groove;
    border-radius: 25px;
    background: #624b68;
    padding: 10px;
    border-color: #84648b;
    width: 200px;
    height: 150px;
    margin: auto;
    font-size: 20px;
    display:inline-block;
}

#sbv2 {
    border-style: groove;
    border-radius: 25px;
    background: #624b68;
    padding: 10px;
    border-color: #84648b;
    width: 200px;
    height: 150px;
    margin: auto;
    font-size: 20px;
    display:inline-block;
}
#sbv3 {
    border-style: groove;
    border-radius: 25px;
    background: #624b68;
    padding: 10px;
    border-color: #84648b;
    width: 200px;
    height: 150px;
    margin: auto;
    font-size: 20px;
    display:inline-block;
}
#evv1 {
    border-style: groove;
    border-radius: 25px;
    background: #624b68;
    padding: 10px;
    border-color: #84648b;
    width: 200px;
    height: 150px;
    margin: auto;
    font-size: 20px;
    display:inline-block;
}
input[type=text], select, textarea {
    width: 50%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

#text {
    display:inline-block;
}

#subject {
    display:inline-block;
    margin-right:10px;
}

.link {
    cursor: pointer;
}

